@model CustomLightCore.Models.Page

@{
	ViewData["Title"] = "Удалить страницу!";
	Layout = "~/Views/_Layouts/_Admin.cshtml";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Страница</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            Алиас
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt>
            Название
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Содержимое
        </dt>
        <dd>
            @Html.Raw(Model.PageContent)
        </dd>
        <dt>
            Создано
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            Изменено
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a asp-action="List"><input type="button" class="btn btn-default" value="Вернуться к списку" /></a>
        </div>
    </form>
</div>
