@model IEnumerable<CustomLightCore.Models.Page>

@{
    ViewData["Title"] = "Список страниц";
    Layout = "~/Views/_Layouts/_Admin.cshtml";
}

<h2>Список страниц</h2>

<p>
	<a asp-controller="Pages" asp-action="Create" class="btn btn-primary">Создать</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Алиас
			</th>
			<th>
				Название
			</th>
			<th>
				Создано
			</th>
			<th>
				Изменено
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Alias)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Created)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Updated)
				</td>
				<td>
					<a asp-controller="Pages" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Редактировать</a> |
					<a asp-controller="Pages" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-external-link-square" aria-hidden="true"></i>Просмотреть</a> |
					<a asp-controller="Pages" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-times" aria-hidden="true"></i>Удалить</a>
				</td>
			</tr>
}
	</tbody>
</table>
