<!DOCTYPE html>

<html lang="ru">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8">
	<title>@ViewBag.Title</title>

	<environment names="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/base.css" />
		<link href="~/css/admin.css" rel="stylesheet" />
		<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
	    <script src="~/lib/ckeditor/ckeditor.js"></script>
	    <link href="~/lib/alertify/themes/alertify.core.css" rel="stylesheet" asp-append-version="true" />
	    <link href="~/lib/alertify/themes/alertify.default.css" rel="stylesheet" asp-append-version="true" />
	    <link href="~/lib/alertify/themes/alertify.bootstrap.css" rel="stylesheet" asp-append-version="true" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/base.min.css" asp-append-version="true" />
		<link href="~/css/admin.min.css" rel="stylesheet" asp-append-version="true" />
		<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
	    <script src="~/lib/ckeditor/ckeditor.js" asp-append-version="true"></script>
	    <link href="~/lib/alertify/themes/alertify.core.css" rel="stylesheet" asp-append-version="true" />
	    <link href="~/lib/alertify/themes/alertify.default.css" rel="stylesheet" asp-append-version="true" />
	    <link href="~/lib/alertify/themes/alertify.bootstrap.css" rel="stylesheet" asp-append-version="true" />
	</environment>

	<link rel="icon" href="@Url.Content("~/images/favicon.ico")" />
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Custom Light</a>
				</div>
				<div class="navbar-right">
					<a href="@Url.Action("Logout","Account")" class="btn btn-danger logout-button"><span class="glyphicon glyphicon-log-out"></span> Выход</a>
				</div>
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>
	<div>
		<section class="adminMenu col-md-2">
			@await Html.PartialAsync("~/Views/Admin/_AdminLeftMenu.cshtml")
		</section>
		<section class="content col-md-10">
			@RenderBody()
		</section>
	</div>
	<footer></footer>

	<environment names="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
	    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	    <script src="~/js/site.js" asp-append-version="true"></script>
		<script src="~/js/site.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery">
		</script>
	    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"
	            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
	            asp-append-version="true">
    	</script>
	    <script src="~/js/site.js" asp-append-version="true"></script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("scripts", required: false)
</body>
</html>
