<div class="footer">
	<div class="footer-container">
		<div class="footer-grids">
			<div class="col-md-3 logo">
				<a href="/" class="vertical-center"><img src="@Url.Action("GetLogotype", "Essentials", new { LogoType = "inverted" })" class="img-responsive" alt="Логотип"></a>
			</div>
			<div class="col-md-4 ftr-grid footer-categories">
				<div class="col-md-12">
					<a href="/" class="col-md-6">
						<div>Главная</div>
					</a>
					<a href="#top" class="col-md-6">
						<div>Наверх</div>
					</a>
					<h5>Категории:</h5>
					@foreach (CustomLightCore.Models.Category category in ViewBag.Categories)
					{
						<a href="@Url.Action("Details", "Categories", new { Id = category.Id })" class="col-md-12">
							<div>@category.Name</div>
						</a>
					}
				</div>
			</div>
			<div class="col-md-2 ftr-grid contacts">
				<h3>Контaкты:</h3>
				<p>Телефон: @ViewBag.Essentials.Phone</p>
				<p>Email: @ViewBag.Essentials.Email</p>
				<p>Адрес: @ViewBag.Essentials.Address</p>
			</div>
			<div class="col-md-3 ftr-grid map">
				<a href="https://yandex.ru/maps/?um=constructor%3A428bd45bdb16d4e58d95ef975c46dc55aa4b1d724d4038f319032a91e826a78f&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A428bd45bdb16d4e58d95ef975c46dc55aa4b1d724d4038f319032a91e826a78f&amp;width=400&amp;height=250&amp;lang=ru_RU" alt="" style="border: 0;" /></a>
				@*<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=2FrmHV8kBN1pZPuzbG5ZRza3lerBcGkL&amp;width=100%25&amp;height=250&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>*@
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
