@using CustomLightCore.ViewModels.Mail
@model CustomLightCore.ViewModels.Cart.CartViewModel
@{
    ViewData["Title"] = "Корзина. Оформление заказа.";
    Layout = "~/Views/_Layouts/_Main.cshtml";
}

<div class="col-md-10">
    <h1>Корзина.</h1>
    <h2>Оформление заказа.</h2>


    @*foreach*@
    @for (var i = 0; i < Model.Specifications.Count; i++)
            {
        <div class="table-responsive">
            <table class="table table-bordered table-hover">

                <!--Товары-->
                <tbody>
                    @*заголовки*@
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Specifications[i].Product.Icon)</th>
                        <th>@Html.DisplayNameFor(model => model.Specifications[i].Product.Name)</th>
                        @foreach (var specificationValue in Model.Specifications[i].SpecificationValues)
                        {
                            <th>@specificationValue.SpecificationTitle.Name</th>
                        }
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Действия</th>
                    </tr>
                    @*спецификация*@
                    <tr>
                        <td>
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Specifications[i].Product.Id"><img src="@Url.Action("GetProductIcon", "Products", new { Model.Specifications[i].Product.Id })" alt="Model.Specifications[i].Product.Name" class="list-preview-image" /></a>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Specifications[i].Product.Name)<br />
                            (@Html.DisplayFor(model => model.Specifications[i].Product.ProductType.Name))
                        </td>
                        @Html.HiddenFor(model => Model.Specifications.ToList()[i].Id)
                        @foreach (var specificationValue in Model.Specifications[i].SpecificationValues)
                        {
                            <td>@Html.DisplayFor(model => specificationValue.Value)</td>
                        }
                        <td>@Html.DisplayFor(model => model.Specifications.ToList()[i].Price)</td>
                        <td>
                            @Html.EditorFor(model => model.SpecificationQuantities.FirstOrDefault(sq => sq.Key == Model.Specifications.ToList()[i].Id).Value, new { htmlAttributes = new { min = 0, max = 10000, id = "specificationQuantity_" + Model.Specifications.ToList()[i].Id } })
                            @*<input type="number" min="0" name="specificationQuantity_@Model.Specifications.ToList()[i].Id" id="specificationQuantity_@Model.Specifications.ToList()[i].Id" value=""/>*@
                            @*<i class="fa fa-cart-arrow-down add-to-cart" id="add-to-cart-@Model.Specifications.ToList()[i].Id" aria-hidden="true"></i>*@
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary cart-update" id="specificationId_@Model.Specifications[i].Id">
                                    <i class='fa fa-repeat' aria-hidden='true'></i>Пересчитать
                                </button>
                                <a class="btn btn-danger" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@Model.Specifications[i].Id"><i class="fa fa-times" aria-hidden="true"></i>Удалить</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <!--/Товары-->
            </table>
            <br />
        </div>
    }

    <p class="cart-grand-total">
    <p><h4>Общее количество:</h4> @Html.DisplayFor(m => m.TotalQuantity)</p>
    <br />
    <p><h4>Стоимость:</h4> @Html.DisplayFor(m => m.TotalPrice)</p>
    </p>

    <a asp-action="ClearCart" class="btn btn-warning">Очистить корзину!</a>

    @await Html.PartialAsync("_OrderForm", new OrderMailViewModel())
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(function() {
            $(document).ready(function() {
                $(".cart-update").click(function() {
                    var specificationId = parseInt(this.id.replace("specificationId_", ""));
                    var quantity = $("#specificationQuantity_" + specificationId).val();
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("UpdateSpecification", "Cart")",
                        data: {
                            specificationId: specificationId,
                            quantity: quantity
                        },
                        success: function() {
                            //console.log(html);
                            //$('#cart-icon').html(html);
                            location.reload();
                        },
                        error: function(msg) {
                            console.log(msg);
                        }
                    });
                });
            });
        });

    </script>
}
