@using System.Linq
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Rendering
@model CustomLightCore.ViewModels.Products.ProductViewModel

@if (Model.ProductType != null)
{

    <table class="table table-bordered table-striped table-hover sort_table">
        <thead>
            <tr>
                <th>

                </th>
                @foreach (var specificationTitle in Model.ProductType.SpecificationTitles)
                {
                    <th>@specificationTitle.Name</th>
                }
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Specifications.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m => m.Specifications[i].Id)
                    </td>

                    @{
                        int emptyTds = Model.ProductType.SpecificationTitles.Count - Model.Specifications.ToList()[i].SpecificationValues.Count;
                    }

            @if (emptyTds > 0) {
                    @for (int k = 0; k < emptyTds; k++)
                    {
                        Model.Specifications.ToList()[i].SpecificationValues.Add(new CustomLightCore.Models.SpecificationValue());
                    }
            }

                    @for (var j = 0; j < Model.Specifications[i].SpecificationValues.Count; j++)
                    {
                        <td>@Html.EditorFor(sp => Model.Specifications[i].SpecificationValues[j].Value)</td>
                    }

                    <td>@Html.EditorFor(sp => sp.Specifications[i].Price)</td>
                    <td><i class="fa fa-times remove-specification" id="remove-specification-@i" aria-h aria-hidden="true"></i></td>
                </tr>}
        </tbody>
    </table>

}

<script>
	$(".remove-specification").click(function () {
		var form = $('form');
		var specificationIndex = parseInt(this.id.replace("remove-specification-", ""));
		$.ajax({
			type: "POST",
			url: "@Url.Action("RemoveSpecification")",
			data: form.serialize() + '&specificationIndex=' + specificationIndex,
			success: function (html) {
				//console.log(html);
				$('#specifications').html(html);
			},
			error: function (msg) {
				console.log(msg);
			}
		});
	});
</script>