@using Microsoft.AspNetCore.Mvc
@model CustomLightCore.Models.Product

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/_Layouts/_Main.cshtml";
}


<!--Инфо о продукте-->
<div class="col-md-10 product-model-sec">
    <h2 id="productName">@Model.Name</h2>
    <!--	Не отображается (нужно для корзины)-->
    @*<div id="productIcon" style="display: none;"><?= $product['icon'] ?></div>*@
    <div id="productId" style="display: none;">>@Model.Id</div>
    <!--	/Не отображается (нужно для корзины)-->
    <!--Галерея-->
    <section class="col-lg-6">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @{
                    for (int i = 0; i < Model.ProductImages.Count; i++)
                    {
                        <div class="item @(i == 0 ? "active" : "")">
                            <img src="@Url.Action("GetProductImage", "Products", new { Model.ProductImages.ToList()[i].Id })" alt="@Model.Name">
                        </div>
                    }
                }
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!-- Indicators -->
        <ol class="carousel-indicators image-carousel-indicators">
            @{
                for (int i = 0; i < Model.ProductImages.Count; i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")">
                        <img src="@Url.Action("GetProductImage", "Products", new { Model.ProductImages.ToList()[i].Id })" class="img-responsive" alt="@Model.Name">
                    </li>
                }
            }
        </ol>

    </section>
    <!--/Галерея-->

    <section class="itemDescription">
        <p>@Html.Raw(Model.Description)</p>
    </section>
    <div class="clear"></div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover sort_table">
            <thead>
                <tr>
                    @foreach (var specificationTitle in Model.ProductType.SpecificationTitles)
                    {
                        <th>@specificationTitle.Name</th>
                    }
                    <th>Цена</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Specifications.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(model => Model.Specifications.ToList()[i].Id)
                        @{
                            int emptyTds = Model.ProductType.SpecificationTitles.Count - Model.Specifications.ToList()[i].SpecificationValues.Count;
                        }

                        @for (int j = 0; j < ((Model.Specifications.ToList()[i].SpecificationValues.Count < Model.ProductType.SpecificationTitles.Count) ? Model.Specifications.ToList()[i].SpecificationValues.Count : Model.ProductType.SpecificationTitles.Count); j++)
                        {
                            <td>@Html.DisplayFor(model => Model.Specifications.ToList()[i].SpecificationValues[j].Value)</td>
                        }

                        @if(emptyTds > 0)
                        {
                            for (int k = 0; k < emptyTds; k++)
                            {
                                <td></td>
                            }
                        }

                        <td>@Html.DisplayFor(model => model.Specifications.ToList()[i].Price)</td>
                        <td>
                            <input type="number" min="0" name="specificationQuantity_@Model.Specifications.ToList()[i].Id" id="specificationQuantity_@Model.Specifications.ToList()[i].Id" value="" />
                            <i class="fa fa-cart-arrow-down add-to-cart" id="add-to-cart-@Model.Specifications.ToList()[i].Id" aria-hidden="true"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--/Инфо о продукте-->
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(function() {
            $(document).ready(function() {
                $(".add-to-cart").click(function() {
                    var specificationId = parseInt(this.id.replace("add-to-cart-", ""));
                    var quantity = $("#specificationQuantity_" + specificationId).val();
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("AddToCart", "Cart")",
                        data: {
                            specificationId: specificationId,
                            quantity: quantity
                        },
                        success: function(html) {
                            //console.log(html);
                            $('#cart-icon').html(html);
                        },
                        error: function(msg) {
                            console.log(msg);
                        }
                    });
                });
            });
        });

    </script>
}