@model IEnumerable<CustomLightCore.Models.Product>

@{
	ViewData["Title"] = "Список продуктов";
	Layout = "~/Views/_Layouts/_Admin.cshtml";
}

<h2>Список</h2>

<p>
	<a asp-controller="Products" asp-action="Create" class="btn btn-primary">Создать</a>
</p>
<table class="table table-hover table-responsive">
	<thead>
		<tr>
			<th>
				Изображение
			</th>
			<th>
				Наименование
			</th>
			<th>
				Краткое описание
			</th>
			<th>
				Категории
			</th>
			<th>
				<i class="fa fa-eye" aria-hidden="true"></i>
			</th>
			<th>
				Создано
			</th>
			<th>
				Изменено
			</th>
			<th>
				Тип
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<img src="@Url.Action("GetProductIcon", "Products", new { Id = item.Id })" alt="item.Name" class="list-preview-image" />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ShortDescription)
				</td>
				<td>
						@foreach(CustomLightCore.Models.CategoryProduct categoryProduct in item.CategoryProduct)
						{
							@Html.DisplayFor(category => categoryProduct.Categories.Name);
							@Html.Raw("<br>");
						}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsPublished)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Created)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Updated)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProductType.Name)
				</td>
				<td>
					<a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Редактировать</a> |
					<a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-external-link-square" aria-hidden="true"></i>Просмотреть</a> |
					<a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-times" aria-hidden="true"></i>Удалить</a>
				</td>
			</tr>
		}
	</tbody>
</table>
