@model CustomLightCore.Models.Project

@{
    ViewData["Title"] = "Удалить Проект.";
    Layout = "~/Views/_Layouts/_Admin.cshtml";
}

<h2>Удалить</h2>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Проект</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.Raw(Model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd>
            <img src="@Url.Action("GetProjectIcon", "Projects", new { Model.Id })" class="img-responsive" alt="@Model.Name">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectImages)
        </dt>
        <dd>
            @foreach (var productImage in Model.ProjectImages)
            {
                <div class="col-lg-2">
                    <img src="@Url.Action("GetProjectImage", "Projects", new { productImage.Id })" class="img-responsive" alt="@Model.Name">
                </div>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a asp-action="List"><input type="button" class="btn btn-default" value="Вернуться к списку" /></a>
        </div>
    </form>
</div>
