@model IEnumerable<CustomLightCore.Models.Project>

@{
	ViewData["Title"] = "Список проeктов";
	Layout = "~/Views/_Layouts/_Admin.cshtml";
}

<h2>Список</h2>

<p>
	<a asp-controller="Projects" asp-action="Create" class="btn btn-primary">Создать</a>
</p>
<table class="table table-hover table-responsive">
	<thead>
	<tr>
		<th>
			Изображение
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ShortDescription)
		</th>
		<th>
			Категории
		</th>
		<th>
			<i class="fa fa-eye" aria-hidden="true"></i>
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Created)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Updated)
		</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				<img src="@Url.Action("GetProjectIcon", "Projects", new { item.Id })" alt="item.Name" class="list-preview-image" />
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ShortDescription)
			</td>
			<td>
				@foreach (var categoryProject in item.CategoryProject)
				{
					@Html.DisplayFor(category => categoryProject.Categories.Name)
					@Html.Raw("<br>")
				}
			</td>
			<td id="@item.Id">
				@Html.CheckBoxFor(modelItem => item.IsPublished, new { id = "is-published-" + item.Id, @class = "is-published-check-box" })
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Created)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Updated)
			</td>
			<td>
				<a asp-controller="Projects" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Редактировать</a> |
				<a asp-controller="Projects" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-external-link-square" aria-hidden="true"></i>Просмотреть</a> |
				<a asp-controller="Projects" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-times" aria-hidden="true"></i>Удалить</a>
			</td>
		</tr>
	}
	</tbody>
</table>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>
		$(".is-published-check-box").click(function () {

			var id = parseInt(this.id.replace("is-published-", ""));
			$.ajax({
				type: "POST",
				url: "@Url.Action("TogglePublish")",
				data: { id: id },
				success: function (html) {
					//console.log(html);
					$('#specifications').html(html);
				},
				error: function (msg) {
					console.log(msg);
				}
			});
		});
	</script>
}

