@model CustomLightCore.Models.Categories

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_Layouts/_Home.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Categories</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IconMimeType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IconMimeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
