@model CustomLightCore.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_Layouts/_Admin.cshtml";
}

<h2>Удалить</h2>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Категория</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            Наименование
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
           Описание
        </dt>
        <dd>
            @Html.Raw(Model.Description)
        </dd>
        <dt>
            Краткое описание
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt>
            Иконка
        </dt>
        <dd>
			<img src="@Url.Action("GetCategoryIcon", "Categories", new { Id = Model.Id })" class="img-responsive" alt="@Model.Name">
        </dd>
        <dt>
            Создано
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            Изменено
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
			<a asp-action="List"><input type="button" class="btn btn-default" value="Вернуться к списку" /></a>
        </div>
    </form>
</div>
