@model IEnumerable<CustomLightCore.Models.Category>

@{
    ViewBag.Title = ViewBag.Essentials.Title;
    Layout = "~/Views/_Layouts/_Home.cshtml";
}

<!-- Слайдер -->
@Html.Partial("_Slider")
<!-- /Слайдер -->
<!--Контент-->
<div class="container">
    <div class="col-md-12 product-model-sec">
        @foreach (var category in Model)
        {
            <div class="product-grid col-lg-3 col-md-4 col-sm-6">
                <a href="@Url.Action("Details", "Categories", new {category.Id})">
                    <div class="product-img b-link-stripe b-animate-go  thickbox">
                        <img src="@Url.Action("GetCategoryIcon", "Categories", new {category.Id})" class="img-responsive" alt="@category.Name">
                    </div>
                    <h5>@category.Name</h5>
                    @*<p>@category.ShortDescription</p>*@
                </a>
            </div>
        }
    </div>
</div>
<!--/Контент-->