@model IEnumerable<CustomLightCore.Models.Category>

@{
	ViewBag.Title = "Custom-Light";
	Layout = "~/Views/_Layouts/_Admin.cshtml";
}

<p>
	<a asp-controller="Categories" asp-action="Create">Создать</a>
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ShortDescription)
		</th>
		@*<th>
			@Html.DisplayNameFor(model => model.Icon)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.IconMimeType)
		</th>*@
		<th>
			@Html.DisplayNameFor(model => model.Created)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Updated)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ShortDescription)
			</td>
			@*<td>
				@Html.DisplayFor(modelItem => item.Icon)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IconMimeType)
			</td>*@
			<td>
				@Html.DisplayFor(modelItem => item.Created)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Updated)
			</td>
			<td>
				<a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Редактировать</a> |
				<a asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-external-link-square" aria-hidden="true"></i>Просмотреть</a> |
				<a asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-times" aria-hidden="true"></i>Удалить</a>
			</td>
		</tr>
	}

</table>
