@model IEnumerable<CustomLightCore.Models.Category>

@{
	ViewBag.Title = "Админка. Список категорий";
	Layout = "~/Views/_Layouts/_Admin.cshtml";
}

<h2>Список категорий</h2>

<p>
	<a asp-controller="Categories" asp-action="Create" class="btn btn-primary">Создать</a>
</p>
<table class="table">
	<tr>
		<th>
			Наименование
		</th>
		<th>
			Краткое описание
		</th>
		<th>
			Создано
		</th>
		<th>
			Изменено
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ShortDescription)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Created)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Updated)
			</td>
			<td>
				<a asp-controller="Categories" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Редактировать</a> |
				<a asp-controller="Categories" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-external-link-square" aria-hidden="true"></i>Просмотреть</a> |
				<a asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-times" aria-hidden="true"></i>Удалить</a>
			</td>
		</tr>
	}

</table>
